{% extends 'loadbootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Kaveri Restaurant</span>
      </a>

      <ul class="nav nav-pills">
          <li class="nav-item"><a href="{% url 'order' %}" class="nav-link" aria-current="page">Order Online</a></li>
          {% if name %}
          <li class="nav-item"><span class="nav-link" style="color: #000;">Hi, {{ name }}</span></li>
          <li class="nav-item"><form action="/logout/" method="POST">
              {% csrf_token %}
              <input class="nav-link" type="submit" value="Logout"/>
          </form></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Employee Log In</a></li>
          {% endif %}
      </ul>
    </header>
  </div>

    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% if message %}
            {% bootstrap_alert message %}
        {% endif %}
        {% if logMessage %}
            <script>
                var mDoc = new DOMParser().parseFromString("{{ logMessage }}", "text/html");
                var m = new String(mDoc.documentElement.textContent);
                m = m.replaceAll("!n!", "\n");
                console.error(m);
            </script>
        {% endif %}

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
