{% if message %}
    <script>
        alert("{{ message }}");
    </script>
{% endif %}
{% if logMessage %}
    <script>
        var mDoc = new DOMParser().parseFromString("{{ logMessage }}", "text/html");
        var m = new String(mDoc.documentElement.textContent);
        m = m.replaceAll("!n!", "\n");
        console.error(m);
    </script>
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <button type="button" href="{% url 'login' %}">Login</button>
    </body>
</html>