{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title%}Menu Items{% endblock %}

{% block content %}
<h2 class="visually-hidden">Existing Items</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <th scope="row">{{i.itemname}}</th>
      <td>{{i.itemprice}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Add a menu item</h2>
<form action="" method="POST">
    {% csrf_token %}
    <label for="itemname">Item Name:</label><br><br>
    <input type="text" name="itemname"/><br><br>
    <label for="itemprice">Price:</label><br><br>
    <input type="text" name="itemprice"/><br/>
    <input type="submit" value="Add"/>
</form>
{% endblock %}
