{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title%}Employee Log In{% endblock %}

{% block content %}

        <form method="POST" action="/postLogin/">
            {% csrf_token %}
            <label for="email">Username</label><br>
            <input type="text" name="email" id="email"></input><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password"></input><br><br>
            <input type="submit" value="Sign In" class="btn btn-primary">
        </form>
        <form action="/signup/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Create an account" class="btn btn-secondary" style="margin-top:15px"/>
        </form>

{% endblock %}
