.flex-container {
    display: flex;
    height: 680px;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 20px;
}

        .flex-child:first-child {
            margin-right: 20px;
        }

        #footer {
            float: right;
        }

        #customer_address {
            position: relative;
            top: 25px;
        }

        .border_round {
            border: 2px solid black;
            border-radius: 4px;
            padding: 5px;
            margin: 5px;
        }

        #hs_div1,
        #hs_div2,
        #hs_div3,
        #hs_div4,
        #hs_div5,
        #hs_div6 {
            visibility: hidden;
        }

        #list_items {
            overflow: hidden;
            overflow-y: scroll;
        }

        button {
            border-radius: 5px;
            background-color: #f44336;
        }

        #right_box {
            height: 200px;
            overflow: hidden;
            overflow-y: scroll;
            max-height: 200px;
        }

        #bottom_box {
            height: 270px;
        }
